@tailwind base;
@tailwind components;
@tailwind utilities;

.card-anime {
  transition: 500ms ease all;
}

.card-anime:hover {
  scale: 105%;
}

.img-custom {
  min-width: 40vh;
  min-height: 50vh;
  width: 500px;
  height: 500px;
}

.img-sm {
  width: 100vh;
  height: 40vh;
}
.loading {
  width: 120px;
  height: 120px;
  border: 30px solid #1f1d2b;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}
.loading::before {
  content: "";
  position: absolute;
  inset: -30px;
  border-radius: 50%;
  border: 30px solid #38abbe;
  animation: p8 2s infinite linear;
}

@keyframes p8 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
